# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
*.db
*.idx
samples/httpstatus/httpstatus
samples/httpstatus/httpstatus.exe
cmd/watertower-server/watertower-server
cmd/watertower-server/watertower-server.exe
cmd/watertower-cli/watertower-cli
cmd/watertower-cli/watertower-cli.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

wiser*

.DS_Store
